<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.engage_subjectsMapper">
  <resultMap id="BaseResultMap" type="entity.engage_subjects">
    <id column="sub_id" jdbcType="SMALLINT" property="subId" />
    <result column="second_kind_id" jdbcType="SMALLINT" property="secondKindId" />
    <result column="register" jdbcType="VARCHAR" property="register" />
    <result column="regist_time" jdbcType="TIMESTAMP" property="registTime" />
    <result column="derivation" jdbcType="VARCHAR" property="derivation" />
    <result column="correct_key" jdbcType="VARCHAR" property="correctKey" />
    <result column="changer" jdbcType="VARCHAR" property="changer" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="entity.engage_subjectsWithBLOBs">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="key_a" jdbcType="LONGVARCHAR" property="keyA" />
    <result column="key_b" jdbcType="LONGVARCHAR" property="keyB" />
    <result column="key_c" jdbcType="LONGVARCHAR" property="keyC" />
    <result column="key_d" jdbcType="LONGVARCHAR" property="keyD" />
    <result column="key_e" jdbcType="LONGVARCHAR" property="keyE" />
  </resultMap>
  <sql id="Base_Column_List">
    sub_id, second_kind_id, register, regist_time, derivation, correct_key, changer, 
    change_time
  </sql>
  <sql id="Blob_Column_List">
    content, key_a, key_b, key_c, key_d, key_e
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from engage_subjects
    where sub_id = #{subId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from engage_subjects
    where sub_id = #{subId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="entity.engage_subjectsWithBLOBs">
    insert into engage_subjects (sub_id, second_kind_id, register, 
      regist_time, derivation, correct_key, 
      changer, change_time, content, 
      key_a, key_b, key_c, 
      key_d, key_e)
    values (#{subId,jdbcType=SMALLINT}, #{secondKindId,jdbcType=SMALLINT}, #{register,jdbcType=VARCHAR}, 
      #{registTime,jdbcType=TIMESTAMP}, #{derivation,jdbcType=VARCHAR}, #{correctKey,jdbcType=VARCHAR}, 
      #{changer,jdbcType=VARCHAR}, #{changeTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}, 
      #{keyA,jdbcType=LONGVARCHAR}, #{keyB,jdbcType=LONGVARCHAR}, #{keyC,jdbcType=LONGVARCHAR}, 
      #{keyD,jdbcType=LONGVARCHAR}, #{keyE,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.engage_subjectsWithBLOBs">
    insert into engage_subjects
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subId != null">
        sub_id,
      </if>
      <if test="secondKindId != null">
        second_kind_id,
      </if>
      <if test="register != null">
        register,
      </if>
      <if test="registTime != null">
        regist_time,
      </if>
      <if test="derivation != null">
        derivation,
      </if>
      <if test="correctKey != null">
        correct_key,
      </if>
      <if test="changer != null">
        changer,
      </if>
      <if test="changeTime != null">
        change_time,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="keyA != null">
        key_a,
      </if>
      <if test="keyB != null">
        key_b,
      </if>
      <if test="keyC != null">
        key_c,
      </if>
      <if test="keyD != null">
        key_d,
      </if>
      <if test="keyE != null">
        key_e,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subId != null">
        #{subId,jdbcType=SMALLINT},
      </if>
      <if test="secondKindId != null">
        #{secondKindId,jdbcType=SMALLINT},
      </if>
      <if test="register != null">
        #{register,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null">
        #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="derivation != null">
        #{derivation,jdbcType=VARCHAR},
      </if>
      <if test="correctKey != null">
        #{correctKey,jdbcType=VARCHAR},
      </if>
      <if test="changer != null">
        #{changer,jdbcType=VARCHAR},
      </if>
      <if test="changeTime != null">
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyA != null">
        #{keyA,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyB != null">
        #{keyB,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyC != null">
        #{keyC,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyD != null">
        #{keyD,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyE != null">
        #{keyE,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.engage_subjectsWithBLOBs">
    update engage_subjects
    <set>
      <if test="secondKindId != null">
        second_kind_id = #{secondKindId,jdbcType=SMALLINT},
      </if>
      <if test="register != null">
        register = #{register,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null">
        regist_time = #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="derivation != null">
        derivation = #{derivation,jdbcType=VARCHAR},
      </if>
      <if test="correctKey != null">
        correct_key = #{correctKey,jdbcType=VARCHAR},
      </if>
      <if test="changer != null">
        changer = #{changer,jdbcType=VARCHAR},
      </if>
      <if test="changeTime != null">
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyA != null">
        key_a = #{keyA,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyB != null">
        key_b = #{keyB,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyC != null">
        key_c = #{keyC,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyD != null">
        key_d = #{keyD,jdbcType=LONGVARCHAR},
      </if>
      <if test="keyE != null">
        key_e = #{keyE,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where sub_id = #{subId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="entity.engage_subjectsWithBLOBs">
    update engage_subjects
    set second_kind_id = #{secondKindId,jdbcType=SMALLINT},
      register = #{register,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      derivation = #{derivation,jdbcType=VARCHAR},
      correct_key = #{correctKey,jdbcType=VARCHAR},
      changer = #{changer,jdbcType=VARCHAR},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR},
      key_a = #{keyA,jdbcType=LONGVARCHAR},
      key_b = #{keyB,jdbcType=LONGVARCHAR},
      key_c = #{keyC,jdbcType=LONGVARCHAR},
      key_d = #{keyD,jdbcType=LONGVARCHAR},
      key_e = #{keyE,jdbcType=LONGVARCHAR}
    where sub_id = #{subId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.engage_subjects">
    update engage_subjects
    set second_kind_id = #{secondKindId,jdbcType=SMALLINT},
      register = #{register,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      derivation = #{derivation,jdbcType=VARCHAR},
      correct_key = #{correctKey,jdbcType=VARCHAR},
      changer = #{changer,jdbcType=VARCHAR},
      change_time = #{changeTime,jdbcType=TIMESTAMP}
    where sub_id = #{subId,jdbcType=SMALLINT}
  </update>
</mapper>