<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.salary_standardMapper">
  <resultMap id="BaseResultMap" type="entity.salary_standard">
    <id column="standard_id" jdbcType="VARCHAR" property="standardId" />
    <result column="standard_name" jdbcType="VARCHAR" property="standardName" />
    <result column="designer" jdbcType="VARCHAR" property="designer" />
    <result column="register" jdbcType="VARCHAR" property="register" />
    <result column="checker" jdbcType="VARCHAR" property="checker" />
    <result column="changer" jdbcType="VARCHAR" property="changer" />
    <result column="regist_time" jdbcType="TIMESTAMP" property="registTime" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="salary_sum" jdbcType="DECIMAL" property="salarySum" />
    <result column="check_status" jdbcType="SMALLINT" property="checkStatus" />
    <result column="change_status" jdbcType="SMALLINT" property="changeStatus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="entity.salary_standardWithBLOBs">
    <result column="check_comment" jdbcType="LONGVARCHAR" property="checkComment" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    standard_id, standard_name, designer, register, checker, changer, regist_time, check_time, 
    change_time, salary_sum, check_status, change_status
  </sql>
  <sql id="Blob_Column_List">
    check_comment, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from salary_standard
    where standard_id = #{standardId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from salary_standard
    where standard_id = #{standardId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="entity.salary_standardWithBLOBs">
    insert into salary_standard (standard_id, standard_name, designer, 
      register, checker, changer, 
      regist_time, check_time, change_time, 
      salary_sum, check_status, change_status, 
      check_comment, remark)
    values (#{standardId,jdbcType=VARCHAR}, #{standardName,jdbcType=VARCHAR}, #{designer,jdbcType=VARCHAR}, 
      #{register,jdbcType=VARCHAR}, #{checker,jdbcType=VARCHAR}, #{changer,jdbcType=VARCHAR}, 
      #{registTime,jdbcType=TIMESTAMP}, #{checkTime,jdbcType=TIMESTAMP}, #{changeTime,jdbcType=TIMESTAMP}, 
      #{salarySum,jdbcType=DECIMAL}, #{checkStatus,jdbcType=SMALLINT}, #{changeStatus,jdbcType=SMALLINT}, 
      #{checkComment,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.salary_standardWithBLOBs">
    insert into salary_standard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="standardId != null">
        standard_id,
      </if>
      <if test="standardName != null">
        standard_name,
      </if>
      <if test="designer != null">
        designer,
      </if>
      <if test="register != null">
        register,
      </if>
      <if test="checker != null">
        checker,
      </if>
      <if test="changer != null">
        changer,
      </if>
      <if test="registTime != null">
        regist_time,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="changeTime != null">
        change_time,
      </if>
      <if test="salarySum != null">
        salary_sum,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="changeStatus != null">
        change_status,
      </if>
      <if test="checkComment != null">
        check_comment,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="standardId != null">
        #{standardId,jdbcType=VARCHAR},
      </if>
      <if test="standardName != null">
        #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="designer != null">
        #{designer,jdbcType=VARCHAR},
      </if>
      <if test="register != null">
        #{register,jdbcType=VARCHAR},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="changer != null">
        #{changer,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null">
        #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null">
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salarySum != null">
        #{salarySum,jdbcType=DECIMAL},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=SMALLINT},
      </if>
      <if test="changeStatus != null">
        #{changeStatus,jdbcType=SMALLINT},
      </if>
      <if test="checkComment != null">
        #{checkComment,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.salary_standardWithBLOBs">
    update salary_standard
    <set>
      <if test="standardName != null">
        standard_name = #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="designer != null">
        designer = #{designer,jdbcType=VARCHAR},
      </if>
      <if test="register != null">
        register = #{register,jdbcType=VARCHAR},
      </if>
      <if test="checker != null">
        checker = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="changer != null">
        changer = #{changer,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null">
        regist_time = #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null">
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salarySum != null">
        salary_sum = #{salarySum,jdbcType=DECIMAL},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=SMALLINT},
      </if>
      <if test="changeStatus != null">
        change_status = #{changeStatus,jdbcType=SMALLINT},
      </if>
      <if test="checkComment != null">
        check_comment = #{checkComment,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where standard_id = #{standardId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="entity.salary_standardWithBLOBs">
    update salary_standard
    set standard_name = #{standardName,jdbcType=VARCHAR},
      designer = #{designer,jdbcType=VARCHAR},
      register = #{register,jdbcType=VARCHAR},
      checker = #{checker,jdbcType=VARCHAR},
      changer = #{changer,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      salary_sum = #{salarySum,jdbcType=DECIMAL},
      check_status = #{checkStatus,jdbcType=SMALLINT},
      change_status = #{changeStatus,jdbcType=SMALLINT},
      check_comment = #{checkComment,jdbcType=LONGVARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where standard_id = #{standardId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.salary_standard">
    update salary_standard
    set standard_name = #{standardName,jdbcType=VARCHAR},
      designer = #{designer,jdbcType=VARCHAR},
      register = #{register,jdbcType=VARCHAR},
      checker = #{checker,jdbcType=VARCHAR},
      changer = #{changer,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      salary_sum = #{salarySum,jdbcType=DECIMAL},
      check_status = #{checkStatus,jdbcType=SMALLINT},
      change_status = #{changeStatus,jdbcType=SMALLINT}
    where standard_id = #{standardId,jdbcType=VARCHAR}
  </update>
</mapper>